<!DOCTYPE html>
<html>
<head>
<style>
	html{
		background:#2e2e2e;
		color:#fcff00;
		font-family: arial;
	}
	.branding{
		position:fixed;
		right:10px;
		bottom:10px;
		width:200px;
		opacity:0.8;
	}
	a{
		text-decoration:none;
		color:#a4311e;
	}
	a:hover{
		text-decoration:underline;
		color:#a4311e;
	}
	tr:nth-child(even) {
		background: #252525;
	}
	tr:nth-child(odd) {
		background: #191919;
	}
	td{
		padding:5px;
	}
	
</style>
<script>

</script>
<title>
	IP Flame! - Hack/Spam/DoS Attempt honeypot
</title>
</head>
<body>
	<div class="header"><!-- if this image ever breaks, just replace it -->
		<img src="https://weaknetlabs.com/images/ip-flame.png"/>
	</div>
	<div class="branding">
		<img src="https://weaknetlabs.com/images/shield_orig2.png" width="200"/>
	</div>
	<div class="content">
		<table>
